.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 90vh;
}

.login{
    display: flex;
    flex-direction: column; 
    padding: 40px 70px;
    border: 2px solid rgba(9, 7, 0, 0.861);
    border-radius: 25px;
}

.email{
    padding: 25px;
}

.password{
    padding: 25px;
}

.submit{
    text-align: center;
    padding: 25px;
}

.emaillabel, .passwordlabel{
    margin-right: 20px  ;
    color: rgba(30, 28, 14, 0.901);
}

.emaillabel {
    margin-right: 50px;
}

.inputemail{
    text-transform: lowercase;
}

.inputemail, .inputpassword{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(6, 244, 38);
    color: rgb(0, 3, 0);
}

.inputemail:focus, .inputpassword:focus{
    outline: none;
    caret-color: rgb(52, 52, 42);
}

.submit input{
    padding: 10px 25px;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(67, 65, 65); 
    font-size: 16px;
}


.submit input:hover{
    border: 2px solid rgb(6, 244, 38);
}

.error{
    border: none;
    border-bottom: 1px solid red;
    color: red;
    background-color: transparent;
    outline: none;
    caret-color: rgb(48, 48, 46);
}

.span{
    color: rgba(237, 7, 7, 0.856);
    margin-top: 5px;
    display: block;
    font-size: 12px;
}